<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app_lock">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_LAUNCH_BROADCASTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_LAUNCH_BROADCASTS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logonew"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logonewround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".aboutus"></activity>
        <activity android:name=".Freq_used_app"></activity>
        <service
            android:name=".Backgound_Service"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleInstance" />


        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ShowAllApps" />
        <activity android:name=".ShowAllLockedApps" />
        <activity android:name=".Time_used" /> <!-- <activity android:name=".Main_Menu"></activity> -->
        <activity android:name=".Main_Menu"></activity>

        <service
            android:name=".restarter.JobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".MyAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver

            android:name=".restarter.RestartServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="uk.ac.shef.oak.activity_recognition.sensor_service.RestartSensor" />
                <action android:name="com.example.activity_recognition.sensor_service.RestartSensor" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </receiver>
        <receiver android:name=".RestartAct"></receiver>
    </application>


</manifest>